.test {
  color: $white;
  background-color: $black;
  border-radius: 3px;
  height: 150px;
  margin-bottom: calc(#{$gutter});
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 600;
}

.button-example {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 1.5rem;
  border: solid #f7f7f9 4px;
  margin-bottom: 20px;
}
